<style>
:root

{
	--stdborder2    : white;
    --darkest2  	: #4f2600;
    --darker2       : #ff8b00;
    --dark2         : #ffa83f;
    --light2        : #ffc47c;
    --lighter2      : #ffeedb;
    --lighttext2    : white;
    --darktext2     : black;
    --cBad2         : #e51d1d;
    --cGood2        : lightgreen;

	--stdborder    : #001333;
	--darkestestRGBA: hsla(218, 100%, 5%, 0.75);
	--darkestest   : #000919;
	--darkestRGBA  : hsla(217, 100%, 10%, 0.50);
    --darkest  	   : #001435;
    --darker       : #022b70;
    --dark         : #114daf;
    --light        : #5193ff;
    --lighter      : #dde9ff;
    --lighttext    : white;
    --darktext     : black;
    --neutraltext  : #a3a3a3;
    --cBad         : #e51d1d;
    --cGood        : #45c41b;
}
</style>