
@CHARSET "ISO-8859-1";

:root {

--stdborder2    : white;
--darkestest2   : #260e00;
--darkest2  	: #4f2600;
--darker2       : #ff8b00;
--dark2         : #ffa83f;
--light2        : #ffc47c;
--lighter2      : #ffeedb;
--lighttext2    : white;
--darktext2     : black;
--cBad2         : #e51d1d;
--cGood2        : lightgreen;

--stdborder    : #001333;
--darkestestRGBA: hsla(218, 100%, 5%, 0.75);
--darkestest   : #000919;
--darkestRGBA  : hsla(217, 100%, 10%, 0.50);
--darkest  	   : #001435;
--darker       : #022b70;
--dark         : #114daf;
--light        : #5193ff;
--lighter      : #dde9ff;
--lighttext    : white;
--darktext     : black;
--neutraltext  : #a3a3a3;
--cBad         : #e51d1d;
--cGood        : #45c41b;

}

.hidden {display: none !important;}

.left {float:left;}
.right{float:right;}

.flex05{flex: 0.5 !important;}
.flex1{flex: 1 !important;}
.flex2{flex: 2 !important;}
.flex3{flex: 3 !important;}
.flex4{flex: 4 !important;}
.flex5{flex: 5 !important;}
.flex6{flex: 6 !important;}

.center
{
	margin: 4px auto !important;
	text-align: center;
}

.navigation {
	width: 100%;
	min-height: 5px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.rowFlex {
	align-items: stretch;
	width: 100%;
	min-height: 0;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.rowFlex, .rowFlexAlways input, select {
	min-width: 25px;
}
  
.rowflex, .rowFlexAlways button {
  	min-width: 75px
 }
 
 .rowFlexAlways {
	align-items: stretch;
	min-height: 0;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
 
.columnFlex {
	flex : 1;
	align-items: stretch;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.columnFlex input, select {
	min-width: 100px;
}
  
.columnFlex button {
 }

.navigation li {
	font-size: x-large;
	margin-top: 10px;
	margin-bottom: 3px;
	flex: 1;
	float: right;
}

.navigation a {
	margin-left: 8px;
	margin-right: 8px;
}

/* !MODAL -------------------------------------------------- */

div.modal img.loadingImage  {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

div.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

div.modalWindow div.page {
	flex:1;
}

div.modalWindow {
	
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
	
	max-height: calc(100vh);
    overflow-y: auto;
	
    position: fixed;
    margin: 100px auto; 
    z-index: 1; 
    
    width: 100%;
    overflow: auto;
    
     display: flex;
	  align-items: center;
	  justify-content: center;
    
}

/* !BTNS and !LINKS -------------------------------------------------- */

button {
	overflow: hidden;
	min-width: 25px;
	text-align:center;
	height: 40px;
	line-height: 1em;
	cursor: pointer;
    margin: 2px;
    border: 2px solid var(--darker);
    font-weight: bold;
    font-size: 1em;
    box-sizing: border-box;
    color: var(--lighttext);
    background-color: var(--darker);
    display: inline;
    flex: 1;
    vertical-align: middle;
}

button div {
	overflow: hidden;
	width:100%;
	text-align: center;
	display: inline;
	vertical-align: middle;
}

button.big, a.big {
	font-size: x-large;
	height: 40px;
}

button.small, a.small {
	font-size: medium;
	max-height: 25px;
}

.special {
	background-color: var(--darker2);
    color: var(--lighttext2);
}

.link {
	text-decoration: none;
	font-weight: bold;
	color: var(--light);
	cursor: pointer;
}

.link2 {
	text-decoration: none;
	font-weight: bold;
	color: var(--darker2);
	cursor: pointer;
}

button:hover  {background: var(--dark);}
.special:hover {background: var(--dark2);}

.link:hover  {color: var(--dark);}
.link2:hover {color: var(--dark2);}

button:active {background: var(--light);}
.special:active {background: var(--light2);}

.link:active {color: var(--darker);}
.link2:active {color: var(--light2);}

.selected {border: 2px solid var(--dark) !important;}
.specialselected {border: 2px solid var(--dark2) !important;}

.unselectable {user-select: none;}

* {      
  outline: none !important !important;
  outline-width: 0 !important;	
}

html { 
	background: url('../res/img/background.jpg') no-repeat center center fixed;
	background-size: cover;
}


footer {
	font-style: italic;
	color: gray;
}

footer:a {
	font-weight: bold;
	font-color: gray;
}

/* !INPUTs and !SELECTs -------------------------------------------------- */

input, select, textarea {
	height: 40px;
	min-width: 100px;
	padding: 8px 8px;
    margin: 2px;
    border: 2px solid var(--darker);
    font-weight: bold;
    font-size: medium;
    box-sizing: border-box;
    color: var(--lighttext);
    background-color: var(--darkestest);
    flex: 1;
}

input, select {
	max-height: 40px;
}

textarea {
	font-size: large;
	display: inline;
    resize: vertical;
    width: 100%;
}

input[type=datetime-local] {
	min-width: 200px !important;
}


input[type=file]
{
	height:0px !important;
	width:0px !important;
	opacity:0 !important;
}


input[type=checkbox]
{
	min-width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
}

label {
	user-select: none;
	display: table-cell;
	flex:1;
	line-height: 40px;
	text-align: center;    
	color: white;
    font-weight: bold;
    font-size: large;
    margin: 2px ;
    height: 40px;  
    width : 100% !important; 
	padding: 0;
}

input:disabled {
	user-select: none;
	color: gray;
}

::-webkit-input-placeholder {
   color: var(--neutraltext);
}

.wide {
    width: 100%;
}

div, button, input, select, textarea, a, img, ul
{
	border-radius: 10px;
	color: white;
}

.boldText
{
	display: inline;
    text-align: center;
	color: white;
    font-weight: bold;
    font-size: large;
    margin: 4px auto;
    vertical-align: middle;   
    height: 40px;  
    width : 100% !important;     
}

div.inputRow
{
	justify-content: space-around;
	display: flex;
	text-align: center;
	margin: 0 auto;
}

.wide
{
	width: 100%;
}

.half
{
	width: 50%;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px solid var(--dark2);
}

@media all and (max-width: 600px)
{
  input,select {
  }
  
  .rowFlex, .columnFlex {
	width: 100% !important;
	flex-direction: column !important;
	flex-wrap: wrap;
	flex: 1 !important;
  }
  
  div.inputRow
  {
    flex-flow: column wrap;
	padding: 0;
  }
  
  div.userProfile
  {
  	flex-flow: column wrap;
  }
  
  div.buttons
  {
	flex-direction: row !important;
	flex-wrap: nowrap;
	flex: 1;
  }
  
  div.buttons button
  {
  	min-height: 40px;
  }
  
  div.useravatar {
	margin: 4px auto !important;
  }
  
}

div.bad {
	background: var(--cBad);
}

div.good {
	background: var(--cGood);
}

div.msg
{
	border: 2px solid var(--stdborder);
	color: white;
	padding: 5px;
	margin: 5px auto;
	font-size: x-large;
}





div.stdSpacer
{
	width: 8px;
	display: inline;
}

div.pages
{ 
	
	width: 100%;
	min-height:0px;
	margin: 0 auto;
	text-align: left;
}

button.page
{ 
	font-size: large;
	min-width: 25px;
	height: 25px; 
	margin: 2px;
}

div.tabs
{ 
	width: 100%;
	min-height:0px;
	margin: 0 auto;
	text-align: left;
}

div.tabcontent
{ 
	border-radius: 0 0 10px 10px !important;
	width: 100%;
	min-height:0px;
	margin: 0 auto;
	text-align: center;
}

button.tab
{ 
	border-radius: 10px 10px 0 0 !important;
	font-size: large;
	width: 100px;
	height: 25px; 
	margin: 2px;
}

div.buttons
{ 
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

div.buttons button, input
{
	
}





div.page {
	box-shadow: 0 10px 10px var(--darkestest);
	text-align:center;
	align: center;
	margin: 25px auto;
	max-width: 1024px;
	border: 2px solid var(--darker);
    background-color: var(--darkest);
    padding: 5px;
}

div.pagecontent {
	text-align:center;
	min-height: 0;
	margin: 0 auto;
	max-width: 1024px;
    background-color: var(--darkest);
    padding: 0;
}

div.pagecontent:empty
{
	padding: 0;
	margin: 0 auto;
}

div.pageheader {
	height: 30px;
	margin: 10 auto;
	max-width: 1024px;
    background-color: var(--darkestest);
    padding: 10px;
}

div.pagetitle {
	float:left;
	max-width: 500px;
	font-size: x-large;
	font-weight: bold;
	text-align:left;
	margin: 0 auto;
    color: white;
}

div.subpagetitle {
	width: 100%;
	font-size: large;
	font-weight: bold;
	text-align:left;
	margin: 4px;
    color: white;
    flex: 10;
}

widthspanned
{
	width: 100%;
}



div.large {
	max-width: 1000px;
}

div.small {
	max-width: 800px;
}

div.tiny {
	max-width: 300px;
}

div.searchresults {
	text-align: center;
	margin: 0 auto;
}

div.itemContainer {
	box-sizing:border-box;
	border: 2px solid var(--darker);
		text-align: center;
	margin: 5px auto;
	flex: 1;
	width: 100%;
	background-color: var(--darkestest);
	background-color: var(--darkestestRGBA);
	
	padding: 5px;
}

div.useravatarsetup {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	width: 20%;
	margin: 0 auto;
}

img.useravatar {
	border: 2px solid var(--darker)
}

img.useravatar:hover {
	border: 2px solid var(--dark);
}

img.useravatar:focus {
	border: 2px solid var(--light);
}

div.userinfo {
	box-sizing:border-box;
	overflow: hidden;
	width: 80px;
	height: 100px;
}

dl.userinfo {
	text-align: left;
	overflow: visible;
	padding: 0;
	margin: 4px;
	margin-left: 8px !important;
	flex: 1;
  
}

dl.userinfo dt {
	
	float:left;
	clear:left;
	color: var(--neutraltext);
	width: 100px;
	padding: 0;
	margin: 0;
}

dl.userinfo dd
{
	overflow: hidden;
	width-min: 200px;
}

dl.userinfo dd, a{
  color: var(--lighttext);
  font-weight: bold;
  padding: 0;
  margin: 0;
  
}

dd.spaced, dt.spaced
{
	margin-top: 1em !important;
}

